<h2>Overview</h2>
<p>One of the most fundamental entities within Foundry Virtual Tabletop is the Actor. Actors are the protagonists, allies, monsters, antagonists, and persons within the World that you create. The game System being used has control to define the exact types of actors which are relevant for it's gameplay, but for most tabletop roleplaying systems these actors will represent the characters which the player Users impersonate and the foes they encounter. This article will detail the features of actors, how to create them, and configure them.</p>
<h2 class="border" id="creation">Actor Creation and Configuration</h2>
<p>To create a new Actor, visit the Actors Directory in the sidebar by clicking on the icon that looks like a group of people. At the bottom of this directory tab you can create a new Actor, or first create a Folder that you can use to organize many actors.</p>
<p>Actor configuration is handled through the Actor Sheet which is opened by left clicking on an Actor entry in the sidebar directory or by double-clicking on a token within a Scene. The Actor Sheet itself is usually a system-specific implementation, so the details of what can be configured at an Actor level will vary by game system.</p>
<figure class=right><a href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1/screen/example-actor-sheet-2020-02-13.png" alt="Example Actor Sheet">@Image[3]</a>
<figcaption>An example Actor Sheet, taken from the implementation of the DND5e game system.</figcaption>
</figure>
<h3 id="token">Prototype Token</h3>
<p>The Prototype Token Configuration sheet controls and customizes how an Actor is represented within a Scene. Each Actor has a default (prototype) token configuration which defines a template for that Token when it is placed. Once a Token is actually placed, it is an independent copy which can be configured differently from the Actor's prototype.</p>
<p>To modify the default token configuration for an Actor, you may either:</p>
<ol>
<li>Click the <strong> Configure Token </strong> button in the header of an Actor sheet.</li>
<li>Edit the configuration for an existing Token and, while having that configured token selected, click <strong> Assign Token </strong> in the header of the Actor sheet.</li>
</ol>
<p>To modify a Token which has already been placed within the Scene, double right-click the token to access the Token Configuration menu.</p>
<p>For more information on configuring Tokens, please refer to the @Article[tokens] article.</p>
<h3 id="permissions">Actor Permission Levels</h3>
<p>Each Actor can have permissions configured at an individual User level. Actor permissions control which User or Users may see or edit that Actor, or impersonate it's Token. To modify the permissions configured for an Actor, right-click on the Actor entry in the sidebar and select the Permissions option.</p>
<p>A single permission level may be assigned to all users at once, or individually user-by-user. A permission given to a specific User will override the level of permission given to all Users.</p>
<ul>
<li><strong>None</strong>.&nbsp;The User is not able to see the Actor in the sidebar, open its' sheet, or control its' Token. This is the default permission level.</li>
<li><strong>Limited</strong>.&nbsp;The User is able to see the Actor entry in the sidebar, and observe limited (but not full) details regarding that Actor. Users with limited permission cannot control the Actor's token.</li>
<li><strong>Observer</strong>. The User is able to see the Actor's entry in the sidebar directory and open it's character sheet. The User is also able to see through the Token's perspective on the active Scene, but not control that Token.</li>
<li><strong>Owner</strong>.&nbsp;The User has full control over the actor and can open and edit their Actor sheet as well as control and see from the perspective of their Token.</li>
</ul>
<h2 class="border" id="api">API References</h2>
<p>To interact with Actors programmatically, consider using the following API concepts:</p>
<ul>
<li>The @API[Actor, The Actor Entity] Entity</li>
<li>The @API[Actors, The Actors Collection] Collection</li>
<li>The @API[ActorSheet, The ActorSheet Sheet] Sheet</li>
</ul>