<h2>Overview</h2>
<p>Foundry Virtual Tabletop features integrated support for S3 file storage solution, allowing you to use an AWS account and S3 buckets as a built-in, browseable file storage location for media assets. To enable this functionality, you must include an entry in your <code>options.json</code> config file which points towards another JSON file that contains your S3 authentication credentials. If such a file is correctly specified and the credentials provided have permission to access S3 buckets, those buckets will be available for use in the File Browser for any Foundry VTT users you grant permission to access it.</p>
<p>Use of S3 integration in Foundry VTT is a great solution for users who are self-hosting on internet connections that have very limited upload speeds. When configured properly for S3 integration, FVTT will offer image, video, and audio assets directly from S3 to all connected users rather than having to use the host's internet connection.</p>
<p class="note warning">Configuring AWS S3 integration is an advanced feature of Foundry VTT and requires technical configuration.</p>
<p>This article will introduce you to the concepts of:</p>
<dl>
    <dt>S3 File Storage</dt>
    <dd>The Simple Storage Service (S3) is a file storage solution intended for serving files to multiple users conveniently. </dd>
    <dt>IAM</dt>
    <dd>Amazon Web Services' Identity and Access management tool, which allows configuration of permissions for your AWS services (and in this specific case, S3).</dd>
    <dt>Cross Origin Resource Sharing (CORS)</dt>
    <dd>CORS is an 'HTTP-header' based security restriction that many webservers use to prevent unwanted linking to images and other assets hosted on that server. AWS S3 Integration requires you to configure a CORS policy for your AWS S3 bucket.</dd>
    
</dl>
<h3>Requirements</h3>
<p>This article assumes that you have already set up an S3 account through AWS or another S3 provider. It is written primarily with an eye toward AWS S3, though other providers can work assuming they provide an S3-compatible service compliant with AWS SDK 2.0. This article assumes you have already created an AWS account and that you already have an admin account for managing your AWS-S3.</p>

<p>After you have created an AWS account, you will need to perform some basic configuration of S3 to support Foundry VTT's usage of your S3 buckets. There are already a number of guides which cover the process of setting up an AWS account and configuring S3 in general, so this article will focus on the specific aspects of configuration related to Foundry VTT. </p>

<h2 class="border">Creating an S3 Bucket</h2>
<p>Before you can store files in S3, you need to configure a bucket to work with.</p>

<p>Take care how you name your S3 Bucket, the bucket name can only contain lowercase letters, numbers, and dashes and must be globally unique across all AWS regions and accounts. Do not use <code>.</code> in the name as it will cause issues with HTTPS certificates, more info is provided here: <a title="AWS S3 VirtualHosting" href="http://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html" target="_blank" rel="nofollow noopener">AWS S3 VirtualHosting</a>.</p>
<p></p>
<ol>
    <li>Click Services in the upper left hand corner.</li>
    <li>Under the "Storage" heading, choose "S3"</li>
    <li>From the S3 Console, Click "Create Bucket"</li>
    <li>Name your bucket and choose an appropriate region. </li>  
    <li>Under Bucket settings for Block Public Access, uncheck Block all public access and acknowledge the risk.</li>
    <li>Click create bucket.</li>
    <li>On the Buckets dashboard of the S3 Console, select your bucket and click the "Copy ARN" button. </li>
    <li>Paste your ARN into a notepad, you will need it to complete JSON configuration files later.</li>
</ol>

<p class="note warning">Foundry VTT presently requires buckets to be public in order to function. You should not upload anything to these buckets which may be private or confidential as they will be accessible to anyone with the link.</p>

<h3>Configuring a Bucket Policy</h3>
<p>While the bucket may be set to public, the objects that we upload to it are not public by default. Thanks to a <a href="https://foundryvtt.wiki/en/setup/hosting/Self-Hosting-on-AWS">community guide</a>, you can place the following json policy into your "Bucket Policy" configuration: </p>
<pre><code class="language-json">{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "PublicReadGetObject",
            "Action": "s3:GetObject",
            "Effect": "Allow",
            "Resource": "(YOUR_ARN_HERE)/*",
            "Principal": "*"
        }
    ]
}    
</code></pre>
<p class="note info">Be sure to replace "(YOUR_ARN_HERE)" with the ARN you copied previously. </p>

<h3 id="cors">Enabling Cross-Origin Resource Sharing (CORS)</h3>
<p>In order to use assets out of your S3 bucket from Foundry VTT you will need to set a CORS policy. To do this, navigate to the <strong>Permissions</strong> tab on the S3 bucket management panel. Under the <strong>Cross-origin resource sharing (CORS)</strong> section apply the following policy:</p>
<pre><code class="language-json">
[
    {
        "AllowedOrigins": ["*"],
        "AllowedHeaders": ["*"],
        "AllowedMethods": ["GET", "POST", "HEAD"],
        "ExposeHeaders": [],
        "MaxAgeSeconds": 3000
    }
]
</code></pre>
<p>For more information, see the following AWS support page: <a href="https://docs.aws.amazon.com/AmazonS3/latest/user-guide/add-cors-configuration.html" target="_blank" rel="nofollow noopener">https://docs.aws.amazon.com/AmazonS3/latest/user-guide/add-cors-configuration.html</a>.</p>

<h2 id="permissions" class="border">Restricting Bucket Permissions</h2>
<p>You may not wish to allow your AWS account to access all S3 buckets from within Foundry VTT. Later in this article we will create a secondary user account to allow for that, but first you will need to configure a policy that will allow that user to interact with your S3 bucket. </p>

<h3>Creating an IAM Policy</h3>
<p>From your AWS Management Console:</p>
<ol>
    <li>Click Services in the upper left hand corner</li>
    <li>Under the "Security, Identity & Compliance" heading choose "IAM"</li>
    <li>On the AWS Identity and Access Management (IAM) page, choose <strong>Policies</strong> from the left-hand menu</li>
    <li>Click Create Policy</li>
    <li>Click the JSON tab</li>
    <li>Copy the policy JSON from below and paste it into this tab</li>
    <li>Click next and skip the tags section to reach "Review", where you will assign this policy an easy-to-find name such as FVTT-s3-access</li>
    <li>Click "Create Policy"</li>
</ol>
<p>Example S3 Access Policy</p>
<pre><code class="language-json">
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "VisualEditor0",
            "Effect": "Allow",
            "Action": [
                "s3:PutObject",
                "s3:GetObject",
                "s3:ListBucket",
                "s3:DeleteObject",
                "s3:PutObjectAcl"
            ],
            "Resource": [
                "(YOUR_ARN_HERE)/*",
                "(YOUR_ARN_HERE)"
            ]
        },
        {
            "Sid": "VisualEditor1",
            "Effect": "Allow",
            "Action": "s3:ListAllMyBuckets",
            "Resource": "*"
        }
    ]
}
</code></pre>
<p class="note info">Be sure to replace "(YOUR_ARN_HERE)" with the ARN you copied previously. </p>
<p>This policy allows the AWS user to:</p>
<ul>
    <li>List all available buckets (but not their contents)</li>
    <li>List the contents of specific buckets it is allowed to access</li>
    <li>Read and write objects from the defined buckets it is allowed to access</li>
</ul>
<p>Your policy can be modified to allow access to a different set of buckets depending on your use case and needs.</p>

<h4 id="access">Allowing User Access</h4>
<p>If you wish for your players or co-GMs to be able to access the contents of your S3 buckets through FVTT, simply configuring access to the file browser and to allow uploads should be sufficient assuming you have configured the bucket permissions in accordance with the above configuration.</p>
<p>The permission controls on your AWS bucket are used to restrict the ability to upload content only. To use uploaded content in a game session, all players must have access to read the files in your bucket. You can either accomplish this by making your entire bucket public access (as we have done above), specifically assigning a public-read ACL to each uploaded key (Uploading using Foundry VTT does this automatically assuming you have configured the policies as above), or by specifically authorizing individual IP addresses of your players for the bucket (advanced, requiring knowledge of your users IP addresses).</p>

<p>For more information, see the following AWS support page: <a href="https://aws.amazon.com/premiumsupport/knowledge-center/s3-console-access-certain-bucket/" target="_blank" rel="nofollow noopener">https://aws.amazon.com/premiumsupport/knowledge-center/s3-console-access-certain-bucket/</a></p>


<h2 id="IAM" class="border">Creating an S3 Sub-account</h2>
<p>Now that you have created an S3 bucket and configured the necessary permissions, you will need a sub-account for the actual setup and management of our S3 buckets. It is better to configure this secondary account with less permissions than your primary S3 account for the purposes of maintaining your S3 buckets through Foundry Virtual Tabletop. </p>

<p>From your AWS Management Console:</p>
<ol>
    <li>Click Services in the upper left hand corner</li>
    <li>Under the "Security, Identity & Compliance" heading choose "IAM"</li>
    <li>On the AWS Identity and Access Management (IAM) page, choose <strong>users</strong> from the left-hand menu</li>
    <li>Choose "Add User"</li>
    <li>Enter a username of your choosing</li>
    <li>Choose to give this user programmatic access and ensure AWS Management Console access is disabled.</li>
    <li>Assign the IAM Policy you created in the permissions section of this article.</li>
    <li>On the "Success" screen, choose to download the CSV. This contains the credentials you'll need for your FVTT S3 configuration.</li>
</ol>
<p class="note warning">If you lose your csv credential file you will need to reset the credentials by performing this process again. There is no way to recover the existing credentials.</p>

<h2 class="border">Enabling S3 Support for Foundry Virtual Tabletop</h2>
<p>Now that you've prepared S3 on the AWS side of things, it's time to configure Foundry VTT. We need to create a JSON file containing the credentials we'll use for S3. For convenience, place your <code>s3config.json</code> in the Config folder of your User Data directory. Using the credential CSV you downloaded when you created the secondary S3 account, populate the configuration with the following information:</p>
<pre><code class="language-json">{
  "accessKeyId": "YOUR_ACCESS_KEY_ID",
  "secretAccessKey": "YOUR_SECRET_ACCESS_KEY",
  "region": "YOUR_PREFERRED_REGION"
}
</code></pre>
<p>Once you have this file placed, you can define its path from the Configuration Tab of the Setup main menu by simply filling the AWS Configuration Path field with "s3config.json" and choosing Save Changes.</p>
<p>Note that the AWS config file may also include other parameters which are passed to the S3 constructor as described by the <a title="JavaScript SDK documentation" href="https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#constructor-property" target="_blank" rel="nofollow noopener">JavaScript SDK documentation</a> including options to support a custom <code>endpoint</code> for working with other S3-compatible services.</p>
