<h2>Overview</h2>
<p>This document will go over the concepts and functions within the canvas layers of Foundry VTT. The canvas is where all game scenes are built and played. It contains the following layers: background, foreground, sound, notes, lights, walls, tiles, and actors. Each layer contains different things, has specific functions and features, and interacts with other layers in specific ways.</p>
<h2 class="border">The Canvas Layers</h2>
<p>Foundry has about six layers which make up each scene. They are stacked atop each other to create the final composite image that every player and GM sees during game. Layers can be manipulated partially by players and fully by GMs. The layers from top to bottom are as follows:</p>
<h3>Wall, Light, and Sound Layers</h3>
<p>The layers for @Article[lighting], @Article[ambient-sound], and @Article[walls] generally sit above all other layers. Walls themselves are invisible to everyone except GMs, and determine how light, sound, and actor vision are able to propagate through a scene.</p>
<h3>Overhead Tile Layer</h3>
<p>The overhead tile layer consists of any @Article[tiles] that have had their Overhead toggle turned on. These tiles rest atop everything except for walls, light and sound, unless the tile has been set to be a "Roof" tile, in which case it will block the lighting layer for any actors not also under the tiles. These overhead tiles are a newly added feature as of the 0.8.x series of updates and allows for GMs to create building rooves, tree crowns, arches, and similar overhead art that blocks vision of what's below until a token moved under it.</p>
<h3>Foreground Layer</h3>
<p>The foreground layer is like the background layer in many ways: it is set during scene creation, is the same size as the scene itself, and generally doesn't change drastically. However, this layer is drawn over the layers below it, allowing the map creator to add art which is always visible over other tiles, background art, and actors. This is especially useful for building walls, structure shadows, and outcroppings which actors can move under partially. The foreground layer should be used with care, as it does not occlude when actors move under it, meaning that it can hide tokens from view and impair a player's ability to see what's happening on a map.&nbsp;</p>
<p>For art that should disappear when actors move under it, we recommend using overhead tiles (above) instead.</p>
<p>Foreground layer images also need some level of transparency or they will make viewing the lower layers impossible.</p>
<h3>Actor Layer</h3>
<p>The @Article[actors] layer contains all actors in a scene, such as player characters, shopkeepers, monsters, and similar. These actors are placed above the background and any tiles, and will reveal what's hidden beneath overhead tiles. Actors will not cause the foreground layer to be occluded by moving under it, however.</p>
<h3>Background Tile Layer</h3>
<p>The background or "underfoot" tile layer consists of any @Article[tiles] that have not had their Overhead toggle set. These tiles are drawn under Actors but over the background layer. They are especially handy for representing ground cover, furniture, obstacles, damage to the ground, and similar features which actors can (usually) traverse over. They can also be used to block movement, sound, and light/vision when combined with walls.</p>
<h3>Background Layer</h3>
<p>The background layer is an image which is set during scene creation to serve as the backdrop for a scene. It usually represents the ground, stairs, tree stumps, rocks, wooden flooring and similar objects in a scene which will be under the player character's feet. These background images can be static or animated, and generally do not feature transparency. They are rendered at the lowest level and always appear under anything else on the canvas.</p>
<p>&nbsp;</p>