<p>Most game systems make use of situations that rely on characters taking turns, such as time-sensitive combat scenes in roleplaying games. Foundry Virtual Tabletop supports managing turn-based combat scenarios through its Combat Tracker sidebar. This article uses the word "initiative" in a general sense to represent the concept of a numeric ranking of turn order.</p>
<p>The Combat Tracker is accessed from the second icon in the sidebar, marked as a fist. Here, encounters and their listed combatants can be viewed and managed. Like all sidebars, the Combat Tracker can be popped out into its own draggable, resizable window by right-clicking its icon at the top of the sidebar.</p>
<figure><video controls="controls" width="100%">
		<source src="https://foundryvtt.s3-us-west-2.amazonaws.com/website-media-dev/videos/combat-tracker.webm" type="video/webm" />
	</video>
<figcaption>An example of adding multiple Tokens to a new Combat Encounter, rolling Initiative, and advancing the turn order.</figcaption>
</figure>
<h3 id="tutorial">Combat Encounters, Step by Step</h3>
<p>As the Gamemaster, you can follow these steps to quickly create and manage an encounter in FVTT.</p>
<ol>
<li>Navigate to the scene where the encounter takes place.</li>
<li>Select all tokens that are to be included in the encounter, through dragging a rectangle over the combatants or selecting each token with Shift + Left click. With all combatants selected, Right click one of the tokens, and click "Toggle Combat State" (the swords and shield icon) to add the selected tokens to an encounter. Additionally, players can add their own characters to the encounter by clicking this button on their tokens.</li>
<li>Roll initiative for all combatants at once using the Roll All button, or roll for just NPCs using the Roll NPCs button, allowing your players to roll initiative for their own characters.</li>
<li>With initiative rolled for all combatants, click the Begin Combat button at the bottom of the Combat Tracker to start the encounter.</li>
<li>Carry out character's turns. Players can end their own characters' turns, but NPCs must have their turn ended by a user with the Gamemaster or Assistant role. This can be done by clicking the "Next Turn" button at the bottom of the Combat Tracker.</li>
<li>When combat has concluded, end the encounter by clicking the "End Combat" button at the bottom of the Combat Tracker. This will delete the encounter and toggle the combat state of all combatants.</li>
</ol>

<h2 class="border" id="encounters">Encounters</h2>
<figure class="right"><a href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1/screen/combat-tracker-buttons-2020-05-18.jpg">@Image[31]</a>
	<figcaption>The Combat Tracker has a number of controls to set up and navigate the turn order.</figcaption>
	</figure>
<p>A fight scene, race, or any particular set of people taking turns performing actions in-game can be considered an "Encounter." An encounter is tied to a specific Scene, which is the one currently being viewed when it is created. Players will only see the encounter in the Combat Tracker if they are currently viewing that scene. When first creating a world in Foundry, there will be no encounters created. An encounter can be easily created with the Create Encounter button found at the top left of the Combat Tracker.</p>
<p>Additionally, more than one encounter can be tracked. Even an individual scene can have multiple encounters being tracked at once. Individual encounters can be added, deleted, or activated with the buttons at the top of the Combat Tracker sidebar, allowing the Gamemaster to manage multiple fights or encounters happening at once on the same scene, with their own separate turn orders. Foundry's API refers to individual encounters as a "Combat" entity.</p>

<h3 id="combatants">Combatants</h3>
<p>Encounters are made up by their participants. These participants, known in Foundry as "Combatants", are the actors that take turns with each other in the encounter. You can add a combatant to an encounter by right-clicking a token and clicking the "Toggle Combat State" button, marked by two swords and a shield. If an encounter doesn't exist on the scene, an encounter will be created for the combatant. At this point, a player who controls the combatant can roll for initiative by clicking the Roll Initiative die icon by the combatant in the Combat Tracker.</p>

<h3 id="editing">Editing Combatants</h3>
<p>When an encounter is first created and filled with combatants, players are able to roll their own characters' initiative if desired, using the Roll Initiative button. Right-clicking a combatant in the combat tracker opens a context menu with various quick actions, detailed below.</p>
<ul>
	<li><strong>Update Combatant</strong> opens the combatant configuration panel, which is discussed below.</li>
	<li><strong>Clear Initiative</strong> clears that combatant's initiative score and marks them as eligible to roll for initiative.</li>
	<li><strong>Re-Roll Initiative</strong> re-rolls the combatant's initiative int he current encounter, replacing the current value with the new roll. If the combatant did not have an initiative value set, this will simply roll initiative for them as normal.</li>
	<li><strong>Remove Combatant</strong> removes the combatant from the encounter entirely.</li>
</ul>

<h4>Combatant Configuration</h4>
<figure class="right"><a href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_671/screen/combatant-configuration-menu-2020-10-02.jpg">@Image[93]</a>
	<figcaption>The Combatant Configuration Menu</figcaption>
</figure>
<p>Foundry VTT allows the GM to edit combatants that have been entered into a combat tracker, to change the name which is displayed, their initiative position, and even whether their entries are visible to players in the tracker.</p>
<dl>
<dt>Linked Token</dt>
<dd>The name of the token which this combatant refers to.</dd>
<dt>Displayed Name</dt>
<dd>The name that players will see for this combatant.</dd>
<dt>Thumbnail Image</dt>
<dd>An alternate picture for the token which will appear in the combat tracker.</dd>
<dt>Initiative Value</dt>
<dd>A numerical value to denote when this combatant will take its turn.</dd>
<dt>Status</dt>
<dd>Hidden hides the entry for this combatant in the tracker from players completely, defeated shows players the combatant as faded out and will automatically skip the turn for this combatant.</dd>
</dl>
<h2 class="border" id="api">API References</h2>
<p>To interact with Items programmatically, consider using the following API concepts:</p>
<ul>
<li>The @API[Combat, the Combat Entity] Entity</li>
<li>The @API[CombatEncounters, The CombatEncounters Collection] Collection</li>
<li>The @API[CombatTracker, The Combat Tracker Sidebar Tab] Sidebar Tab</li>
</ul>
<hr />
<p class="note">"Haunted Library" map and Tokens by <a title="ForgottenAdventures on Patreon" href="https://www.patreon.com/forgottenadventures" target="_blank" rel="nofollow noopener">ForgottenAdventures on Patreon</a>.</p>