<h2>Overview</h2>
<p>Compendium Packs exist to reduce the strain on worlds that have accrued a large number of actors, items, macros, playlists, rollable tables, or scenes. When these elements are not in use, but are not ready to be deleted, they should be stored in compendia. Compendium Packs should be used to help you keep your world organized and reduce clutter.</p>
<p>Compendium packs are also used by modules to store large amounts of content to be unpacked and added to an existing game world, such as part of a premium or exclusive content pack.</p>
<p>Each Compendium can only contain one type of document: @Article[actors], @Article[items], @Article[journal], @Article[macros], @Article[playlists], @Article[roll-tables] or @Article[scenes]. Data contained in compendium packs are not loaded until needed, reducing the amount of data that a particular user must load when first joining a game.</p>

<h2 id="create">Creating and Using Compendium Packs</h2>
	<p>A compendium can be easily created in any World. First, navigate to the Compendium Packs sidebar tab, and then click the "Create Compendium" button. Enter the name of the compendium (for example "Player Characters") and choose the type of document that will be contained in it from the Document Type dropdown. After your compendium has been created, clicking on the compendium name in the sidebar will open a new window that will allow you to drag and drop from a sidebar tab into the compendium.</p>

	<p>Compendium Packs and their contents are automatically sorted alphabetically.</p>

	<p>You can also export whole folders to compendia by right clicking the folder and clicking the "Export to Compendium" option. This then gives you the ability to choose the destination pack (the compendium you want to export the folder's documents to), and if you want to overwrite existing entries with the same names. If the "Merge by name?" option is toggled off, then new copies of similar entities will be added. This is useful for storing multiple versions of the same document in a compendium.</p>

<h3>Locking Packages</h3>
	<p>You can only export folders to compendium packs which are unlocked. To lock and unlock a compendium, go to the Compendium Packs tab, right click a compendium, and choose the "Toggle Edit Lock" option. This will lock or unlock the chosen compendium. Note that you will receive a warning and be asked to confirm your choice to unlock compendia that are included in game systems and modules, but not within your own worlds.</p>
	<dl>
		<dt>Do I need a Compendium?</dt>
		<dd>Storing unused Entities in a Compendium <strong>greatly</strong> reduces the time it takes to load your world. Even though each Actor, Item, or other document may be small, as their numbers start to rise into the hundreds the amount of data that gets transferred to each of your players when they join can cause your world to slow down over time. It is a best to practice good organization.</dd>
		<dt>Can I edit a Compendium?</dt>
		<dd>Once content has been added to a compendium it cannot be directly edited. However, in the forthcoming 0.8.x series of updates it will become possible to directly edit documents contained in an unlocked compendium. Until the 0.8.x series is officially released you must import content, edit it locally, and re-export it to the compendium with 'Merge by Name' checked to make changes.</dd>
	</dl>

<h3>Importing Compendium Content</h3>
<p>If you would like to import all of the content in a compendium pack you can do so by right-clicking the pack in the Compendium tab of the sidebar, then selecting the "Import All Content" option. This will open a dialog box allowing you to change the name of the folder which the compendium pack's content should be imported into. It will use the compendium's name if you choose not to edit the name, or if you leave the field blank.</p>

<p>Once content has been imported into a game world it becomes a localized part of that world, and any changes made to the documents will not be reflected in the compendium unless you also export the content back to the compendium, or create a new compendium with the changed documents.</p>
<h3>Exporting Compendium Packs</h3>
<p>Compendia are limited to specific game worlds by default, but it is possible to move them to new worlds or create modules which contain compendia for use in other worlds. To learn how to do this, refer to the Module Packaging Guide.</p>