<h2>Overview</h2>
<p>This article covers all of the basics of rolling dice, the various roll modes available to users, and some of the fundamental features that can be used to notate rolls during play. For more complex dice rolling concepts, and API references see the @article[dice-complex] article. In addition to the basic types of rolling covered in this article, Foundry Virtual Tabletop provides a number of modifiers which can be used to change how dice work in order to support different game systems. For a comprehensive listing dice modifiers consult the @article[dice-modifiers] article.</p>

<h2 id="rollmodes" class="border">Roll Modes</h2>
<figure class="right">@Image[98]</figure>

<p>Before learning to roll dice, it is important to be familiar with the concept of "roll modes" which affect the visibility and presentation of dice rolls.</p>
<p>Every dice roll becomes a message in the chat log, but the visibility of that message and the details of the roll can be controlled by the user. At the bottom of the chat log there is a drop down list of roll types, these determine who can see the roll made by your <code>/roll</code> command.</p>
<dl>
    <dt>Public Roll</dt>
    <dd><p>This is the default type of roll in Foundry, and is visible to all players.</p></dd>

    <dt>GM Roll</dt>
    <dd><p>Rolls of this type are only visible to the player that rolled and any Game Master users. To perform a GM roll, use <code>/gmroll</code> or <code>/gmr</code> as the command prefix. A GM or the user who made the roll may choose to reveal this roll.</p></dd>
<dt>Blind Roll</dt>
    <dd><p>A private dice roll only visible to Game Master users. The rolling player will not see the result of their own roll. This is similar to using a dice tower or other device at a physical tabletop where the roller may not get to see the outcome. To perform a blind roll, use <code>/blindroll</code>, <code>/broll</code>, or <code>/br</code> as the command prefix. Only the GM may choose to reveal this roll.</p></dd>

<dt>Self Roll</dt>
    <dd><p>A private dice roll which is only visible to the user who rolled it. To perform a self roll, use <code>/selfroll</code> or <code>/sr</code> as the command prefix. Whether a GM or Player uses a self roll, only the user who made the roll can choose to reveal it.</p></dd>
</dl>
<p>A roll that is made in private (such as a Private GM Roll, Blind GM Roll, or Self Roll) may be revealed to the other users by right-clicking and choosing <strong>Reveal to Everyone</strong>.</p>

<h3 id="simplerolls">Simple Roll Commands</h3>
<p>A dice roll can be made by entering the <code>/roll</code> (or <code>/r</code>) <strong>chat command</strong> followed by some simple syntax to identify the number of dice, and which type of die you wish to roll. This roll command uses whichever <strong>Default Roll Mode</strong> is currently set by the user.</p>
<p class="note info">All of the example rolls on this page may be pasted directly into Foundry VTT exactly as they are, including commented text which will label the roll explaining what it does.</p>
<pre><code class="language-plaintext">/r {number of dice}d{faces}</code></pre>
<pre><code class="language-plaintext">/r 5d20 # Rolls five twenty-sided dice, generating random numbers from 1 to 20, and outputting the sum of all rolls.</code></pre>

<h4>Expanding Rolls</h4>
<p>Once a roll has been made and appears in the chat log, users can click on that message to expand the results, showing the individual dice rolls that determined its outcome. Clicking the chat message a second time collapses the results again.</p>

<h2 id="simplemath" class="border">Using Simple Math with Rolls</h2>
<p>Most dice rolls result in a number that is the sum of any dice rolled, and simple math modifiers can be used to increase or decrease this result after rolls are made.</p>
<ul>
    <li><code>+</code> adds the number that follows it to the sum of the roll.</li>
    <li><code>-</code> subtracts the number that follows it from the sum of the roll.</li>
    <li><code>*</code> multiplies the sum of the roll by the number given.</li>
    <li><code>/</code> divides the sum of the roll by the number given.</li>
</ul>
<pre><code class="language-plaintext"> /roll {number}d{faces}{math}{number}d{faces}</code></pre>
<p>Roll one ten-sided die and add to it the result of rolling a single four-sided die.</p>
<pre><code class="language-plaintext">/roll 1d10 + 1d4 + 4</code></pre>
<p>Roll one twenty-sided die, divide the number by 2, then add 10 to the result.</p>
<pre><code class="language-plaintext">/roll 1d20 / 2 + 10 </code></pre>
<p>Roll a one hundred-sided die, multiply that number by 2, then divide it by the result of rolling a four-sided die.</p>
<pre><code class="language-plaintext">/roll 1d100 * 2 / 1d4</code></pre>
<p>Roll one twenty-sided die, and divide it by 3.</p>
<pre><code class="language-plaintext">/roll 1d20 / 3</code></pre>

<h4>Adding Additional Dice</h4>
<p>Using simple math, users can also add additional dice of different sizes to a roll. The above simple math expressions to determine how they are meant to interact. Math expressions can also be used to combine rolls of different dice types and add them together.</p>
<pre><code class="language-plaintext"> /roll {number}d{faces}{math}{number}d{faces}</code></pre>
<p>Roll one ten-sided die and add to it the result of rolling a single four-sided die.</p>
<pre><code class="language-plaintext">/roll 1d10 + 1d4 + 4</code></pre>
<p>Roll one twenty-sided die, divide the number by 2, then add 10 to the result.</p>
<pre><code class="language-plaintext">/roll 1d20 / 2 + 10</code></pre>
<p>Roll a one hundred-sided die, multiply that number by 2, then divide it by the result of a four-sided die.</p>
<pre><code class="language-plaintext">/roll 1d100 * 2 / 1d4</code></pre>
<p><em>DnD 3.5e, Pathfinder - Critical Hit Multiplier:</em> roll one eight-sided die, add 4 to the result, then multiply it by 2.</p>
<pre><code class="language-plaintext">/r (1d8+4) * 2</code></pre>

<h2 id="describingrolls" class="border">Describing Rolls</h2>
<figure class="right">@Image[100]</figure>
<p>Users can add a text description to a roll by adding a # and desired text at the end of the /roll chat command. The text appears under the name of the user that made the roll.</p>
<pre><code class="language-plaintext">/r {roll command} # {desired text}</code></pre>
<p>Example: roll a 20-sided die, adding 2 to the result. Includ some text to describe the roll.</p>
<pre><code class="language-plaintext">/r 1d20 + 2 # This is my roll!</code></pre>

<h4>Describing Dice</h4>
<p>In addition to whole rolls, individual rolls inside multiple roll commands can be commented to specify what the roll is for. This is most useful in games where one or more types of die combine to deliver a total amount of damage.</p>
<pre><code class="language-plaintext">/roll {roll}[desired text for roll]</code></pre>
<p>Roll two six-sided dice with the tag of "slashing damage" followed by one eight-sided die with the tag of "fire damage."</p>
<pre><code class="language-plaintext">/roll 2d6[slashing damage]+1d8[fire damage]</code></pre>

<h4>Describing Inline Rolls</h4>
<p>Inline rolls can be described by adding text after the inline roll surrounded by brackets as such: </p>
<pre><code class="language-plaintext">[inline roll formula]{inline roll label}</code></pre>
<p>If a deferred role is labeled, but has no flavor text in the formula otherwise, the label is included in the resulting roll as flavor text.</p>

<h2 id="inlinerolls" class="border">Inline Rolls</h2>
<p>If a chat message contains a roll formula, Foundry VTT will automatically run the formula for the roll and place the result or command in the message with special style formatting. Anything that a regular roll command can do, an Inline Roll can do.</p>
<p>Inline rolls can also be used in a Journal Entry, or any other place that the TinyMCE Rich Text Editor appears, such as Item or Action description fields.</p>
<p>There are two types of inline roll:</p>

<h4>Immediate Inline Rolls</h4>
<p>These rolls are processed and the result of the roll is placed in the chat message. This is useful for including simple rolls inside of descriptive actions.</p>
<pre><code class="language-plaintext">The boulders drop onto the player character, dealing [[2d12]] bludgeoning damage.</code></pre>

<h4>Deferred Inline Rolls</h4>
<figure class="center">@Image[108]
    <figcaption>Immediate and Deferred Inline Rolls demonstrated in a Journal Entry</figcaption>
</figure>

<p>Deferred rolls provide a way to embed a button in your chat message which, when clicked by any user, makes a new roll containing that formula.</p>
<pre><code class="language-plaintext">Can everyone roll a [[/roll 1d10]] for me?</code></pre>