<h2>Overview</h2>
<p>Foundry Virtual Tabletop offers access to a variety of premium content from fantastic publishers and content creators who are bringing their games and content to our platform. Premium content allows you to purchase assets, adventures, game content, and other published materials converted to digital format and pre-configured for optimal use in Foundry Virtual Tabletop. Our approach to premium content allows publishers to sell products designed for in Foundry VTT directly to customers, who can then activate that content and install it directly from within the software.</p>

<h3 style="text-align: center;"><a href="/packages/premium" target="_blank">Browse Available Premium Content</a></h3>

<p>Every premium content package offered by Foundry Virtual Tabletop can be found on the Premium Content packages list. Each premium content listing features a link to the publisher's store where you may purchase that premium product. Foundry VTT does not operate a storefront or content marketplace, the purchasing of premium content occurs through the storefronts managed by the content publisher or creator.</p>

<h2 id="activation" class="border">Content Activation</h2>
<figure class="right">
    <a href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_671/screen/premium-content-activation-2021-02-25.webp">@Image[161]</a>
    <figcaption>A demonstration of the Premium Content activation process.</figcaption>
</figure>
<p>As part of the checkout process when purchasing Premium Content for Foundry Virtual Tabletop, you should receive an email containing a content activation key. If you have not received a content key for your purchase after 15 minutes, please reach out to the publisher from whom you purchased the content. Redeeming the content key will activate the content for your Foundry Virtual Tabletop account, and that key can no longer be used for any other account. It is important to make sure you are activating the content key on the correct account.</p>

<h4>To activate a key:</h4>
<ol>
    <li>Log-in to the Foundry Virtual Tabletop website (here)</li>
    <li>Click your username in the upper right corner to access your profile page</li>
    <li>Click the <strong>Premium Content</strong> Button in the lower left</li>
    <li>Copy and paste your content key into the <strong>Content Key</strong> field</li>
    <li>Click the <strong>Activate Content</strong> button</li>
</ol>

<p>Once activated the Content Key is added to your account and no further steps are required. Your premium content will appear in your "Unlocked Premium Content" list, showcasing what content you have permission to access via the Premium Content section of the package installer in Foundry Virtual Tabletop.</p>

<h2 id="installation" class="border">Content Installation</h2>
<figure class="right">
    <a href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_671/screen/premium-content-installation-2021-02-25.jpg">@Image[160]</a>
    <figcaption>The Add-on Module Installation window filtered for Premium Content.</figcaption>
</figure>

<p>Installation of premium content occurs through the in-application Package Installer on the Setup and Configuration page of Foundry Virtual Tabletop. Take note of the type of content you purchased, it may be a World, Game System, or Module. If you aren't certain which category your newly purchased content falls into, check the content's page on the Foundry VTT website to identify it (though it is usually an Add-on Module).</p>

<h4>To install premium content:</h4>
<ol>
    <li>From the Setup menu within Foundry VTT, select the appropriate tab for your content: Game Worlds, Game Systems, or Add-on Modules.</li>
    <li>On this tab, click the install button in the bottom left corner.</li>
    <li>In the installation menu that appears, filter the view by clicking the <strong>Premium Content</strong> category on the left hand side.</li>
    <li>Locate your Premium Content within the list or use the filter field to search for it and click the <strong>Install</strong> button on the right-hand side.</li>
</ol>
<p>If your content displays "Not Owned" instead of an installation button please verify that you have activated the content for your account.</p>
