<h2>Overview</h2>
<p>Now that your world is set up you're going to want to set up user accounts for your players, their characters, and the scenes necessary for them to play! It's time to provide you with a basic introduction to the core aspects of Foundry VTT's gameplay, and give you the next set of steps to get your players set up. This article will introduce you to:</p>
<dl>
<dt>Users</dt>
<dd>A user is anyone that connects to a Foundry Virtual Tabletop session. Users that are players in your game will have control of actors, while users who are gamemasters or assistants may spend their time building scenes and running the game for players. All users have varying levels of @Article[permissions].</dd>
<dt>Actors</dt>
<dd>Actors are the protagonists, allies, monsters, antagonists, and persons within the World that you create. The game System being used has control to define the exact types of actors which are relevant for its gameplay, but for most tabletop roleplaying systems these actors will represent the characters which player Users impersonate as well as the foes those players encounter.</dd>
<dt>Items</dt>
<dd>Items are similar to actors in that they have their own statistics and features, but can be associated with or used by actors in gameplay. Items can represent any physical or metaphysical object, from daggers and rocks to trust from an allied noble.</dd>
<dt>Scenes</dt>
<dd>Scenes represent areas that the players may explore and are generally composed of map images used as backgounds, or many numerous parts if constructed from @Article[tiles]. Scenes may depict anything from world or regional maps to small buildings or dungeons. Scenes can contain @Article[tokens], @Article[lighting], @Article[walls], and @Article[ambient-sound]. To learn more about this key entity type visit the @Article[scenes] page.</dd>
<dt>Encounters</dt>
<dd>Encounters cover any combat scenes, races, puzzles or other events where a set of people take turns performing actions in-game. An encounter is tied to a specific Scene, usually the scene that is currently active and being viewed when the encounter is created.</dd>
</dl>
<h2 id="accounts" class="border">Setting up Users</h2>
<figure class="right"><a href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/getting-started-user-management-2021-01-13.jpg">@Image[124]</a>
<figcaption>The User Management screen allows you to create, modify, and delete User accounts from your Game World.</figcaption>
</figure>
<p>Before players can join a session, you'll need to set up user names and (optionally) access keys for them. To do so, click the Game Settings icon (three cogs icon) on the right sidebar, and then click on Configure Players. From here you should see the gamemaster user, and a button that says "Create Additional User." By clicking this button Foundry will create a new generic user slot, usually named "Player 2" or similar.</p>
<p>You can then rename the user, give them a password, and set their permission level. For the purposes of this guide, players don't need to be assigned a role beyond "Player." Also bear in mind that user passwords are not cryptographically secure, and should not be reused from other important accounts or services you or your players use.</p>
<p>Once you've set up all your player accounts click "Save and Return" and you'll be returned to your game. Players can now join and log in with the credentials you've given them. Though there's a bit more setup to do before they will be able to play.</p>
<h3>Creating and Assigning Actors</h3>
<figure class="right"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/getting-started-actor-permissions-2021-01-13.jpg" target="_blank" rel="nofollow noopener">@Image[125]</a>
<figcaption>The Actor Permissions window lets you determine who has control of an actor and its data.</figcaption>
</figure>
<p>Actors are the creatures, players, enemies and allies you and your players will use to play the game. They contain data on abilities, attributes, powers, and the like. To create a new Actor, visit the Actors Directory in the sidebar by clicking on the icon that looks like a group of people.</p>
<p>At the top of this directory tab you can create a new Actor. Depending on the system you chose, you may have multiple options here. For most games however, players will be labeled as "player character" and that will be what you want.</p>
<p>Once your actor is named and created, its character sheet should open up, allowing you to configure it as necessary, and it will also appear in the actor directory to the right. Once you've finished editing the actor, you can close the window, and the changes will be saved. You can always double click an actor in the sidebar to reopen the sheet to edit them further if you need.</p>
<p>Once you've created an actor, you'll need to assign them to a player! Right click on an actor you've created and select "Configure Permissions."</p>
<p>From the menu that appears you can choose how all players interact with the actor (by default they cannot), and select how individual users interact with the actor.</p>
<p>Assigning a user the permission level of "owner" allows them to edit the character sheet, and fully control them in scenes. This is the default level you'll want most player characters at, anything less (such as limited or observer) and they will lose the ability to directly control their assigned actors.</p>
<h2 class="border">Creating Items</h2>
<p>Creating items is very similar to creating actors, and both are surprisingly similar to each other: they contain information about an entity, what it can do, art, and similar. Items however, are meant to be attached to and be used by actors.</p>
<p>To create an item, select the <strong>Items Directory</strong> (it's to the right of the Actors Directory), and at the top of the sidebar click "<strong>Create Item.</strong>" Similarly to creating a character, you need to supply a name. Depending on the game system you're using, you may also be able to determine the specific type of item you're creating. For example, the DnD5e system lets you choose between Weapons, Tools, and Consumables among several other item types.</p>
<p>Once you've named and created your item it will open the item configuration menu. From here you write a description of your item, and apply features to it depending on what your game system provides. When you're happy with your item, you can close the item menu, as changes are automatically saved. If you ever need to edit an item, you can click on the item's name to reopen the item sheet again.</p>
<h4>Giving Items to Actors</h4>
<p>To give an item to an actor, simply open the actor's sheet, and drag the chosen item from the items directory to the sheet. The item will then be added to the actor's inventory. Most game systems have an equipment or inventory tab on actor sheets, though this may vary depending on how the game system handles items, for example an item categorized as a spell might instead be added to an actor's spell list instead of their inventory.</p>
<h2 class="border">Creating a Scene</h2>
<figure class="right"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/getting-started-making-a-scene-2021-01-15.jpg" target="_blank" rel="nofollow noopener">@Image[126]</a>
<figcaption>This is an example of the bare minimum needed to create a scene in Foundry VTT.</figcaption>
</figure>
<p>To create a new Scene:</p>
<ol>
<li>Open the Scenes Directory (the map icon, 3rd from the left) in the Sidebar on the right-side of the screen.</li>
<li>At the top of the Sidebar click <strong>Create New Scene</strong>, you'll be prompted to give the scene a name, afterwards clicking create scene will open the scene configuration menu.</li>
</ol>
<p>If you do not have a map image ready, we have provided one to you here on <a href="https://www.deviantart.com/foundryatropos/art/Foundry-Tavern-at-Night-746759206/" target="_blank" rel="nofollow noopener">DeviantArt</a>. This image has the following dimensions: 3150x2800px.</p>
<p>Once you've set the background image and made sure the dimensions match the image you're using you can save changes, and Foundry VTT will create your scene for you.</p>
<h4>Navigating Scenes</h4>
<p>Once you have created a Scene, you'll need to be able to perform basic of navigation. To move your view of the map, click and drag with your right-mouse button to pan the scene. You can also use <code>Control (CMD for macOS) + Arrow Keys</code> to move your view. To zoom in or out, simply use your mouse wheel, or use the <code>page up/down</code> keys. You can press Tab to move your view to the scene's starting point. Since we didn't set specific coordinates for this, it will default to the upper-left corner of the image.</p>
<h4>Organizing Scenes</h4>
<p>You also have the option to create a folder for organizing scenes into groups, which you can do at any time by creating a folder in the scene directory and dragging the scene to the desired folder.</p>
<h4>Changing Scenes</h4>
<p>When you have multiple scenes, you can either click on the scene's name on the top of the Foundry VTT screen, which will shift your view to the chosen scene without activating it, or you can right click on the scene and activate it, which will pull all connected players to the scene, including you. You can do the same from the scene directory by right clicking any scene there and choosing view (to simply look at the scene by yourself) or to activate it.</p>
<h3>Creating Walls</h3>
<figure class="right"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1/screen/tutorial-tavern-scene-2020-05-24.png" target="_blank" rel="nofollow noopener">@Image[59]</a>
<figcaption>This is an example of the provided tavern map with walls and doors placed.</figcaption>
</figure>
<p>Now that you have a scene, you will want to place walls to determine how light spreads, and the confines of rooms and terrain. By default, all new scenes have vision enabled, meaning that actors with vision will only be able to see the map if it is lit, and their line of sight allows it. Most of the time player character actors will have vision enabled. Walls are a way to determine how much of an area an actor with vision can see.</p>
<p>Creating walls is as easy as selecting the wall control tool and dragging out lines to denote a wall that blocks sight. While there are multiple types of walls, which all do slightly different things, the two most common walls you'll use are standard walls and doors.</p>
<p>If you're using the tavern map provided above, you can use the image example as a guide for how the building should be walled in.</p>
<p>You can learn more about walls in the @Article[walls] article.</p>
<h3>Creating Lights</h3>
<p>Lights are necessary for actors to see things, unless the scene has the Global Illumination tag set, in which case the entire scene will be brightly lit. Lights are especially important when the map's darkness level increases, and visibility drops. You can adjust the map's light and darkness level by right clicking on the map in the scene directory and choosing configure, or by going to the lighting controls panel on the left and using the transition to daylight or darkness buttons.</p>
<p>Lights will interact with walls, creating shadows and sections of darkness where the light can't reach. Creating a light is as simple as clicking on a point in the scene and dragging out the light's radius. The two rings visible as the light's being created shows the inner bright radius, and the outer dim radius. Once you have created a light you can double click on it to change its various properties including the color, and specific radii of the bright and dim rings. You can also right click on the light to quickly turn a light on or off without removing it.</p>
<p>You can learn more about lights in the @Article[lighting] article.</p>
<h3>Placing Actors in a Scene</h3>
<figure class="right"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/getting-started-placing-tokens-webp-2021-01-19.webp" target="_blank" rel="nofollow noopener">@Image[134]</a>
<figcaption>Actors can be easily placed into a scene by dragging them from the Actors Directory. (Click to enlarge)</figcaption>
</figure>
<p>Once you have created and configured a Scene, gotten used to moving your view, and have put down walls and lights, you'll want to bring one or more actors into the scene. To do this, select the Actors Directory icon to the right of the scenes tab icon, then click and drag an actor from the directory to the active scene. This will place a token representing the actor into the scene, and its owner will be able to see the scene through that token's vision (if it has vision).</p>
<p>As a Gamemaster you can view what any token can see by clicking on it.</p>
<p>You can learn more about actors in the @Article[actors] article, and more about tokens in the @Article[tokens] article.</p>
<h4>Ways to move tokens</h4>
<p>Moving a token can be done in several ways, depending on what you and your players need, and what is easiest for you:</p>
<ul>
<li><strong>Drag Movement </strong>- Click and drag a token to move it in a straight line along the path to a new location. As soon as you release the token Foundry will execute the move. It should be noted that as a gamemaster you can drag tokens through walls and other obstructions, but players cannot.</li>
<li><strong>Incremental Movement</strong> - The arrow or WASD keys can be used to move a controlled actor around a scene. This is especially useful for doing small, incremental moves in tight spaces where walls and terrain might block movement. You can also hold down Shift while using these movement keys to quickly rotate an actor to a particular facing without changing their position on the map.</li>
<li><strong>Measured (Waypoint) Movement </strong>- The measurement tools can be used to to move tokens. This is done quickly holding down the control (CMD for macOS) key, then clicking and dragging in a direction from a token you control. This will show you a path, and distance to the final location. You can left click in additional places along the route to place waypoints the token will follow. To move a token using this method, simply press the spacebar, and Foundry will move the token along the line to the final measured point. You can do the same thing with the measure distance tool if the start of the measurement is on a token you control.</li>
</ul>
<p>You can learn more about Foundry VTT's control setup in the @Article[controls] article.</p>
<h2 class="border">Combat Encounters</h2>
<figure class="right" style="width: 30%;"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/getting-started-toggle-combat-state-2021-01-15.jpg" target="_blank" rel="nofollow noopener">@Image[127]</a>
<figcaption>Right-clicking a token and clicking this icon will toggle that token's placement in the combat tracker on or off.</figcaption>
</figure>
<p>Sometimes scenes are destined to result in violence and combat, or times they need you to track what everyone's doing from moment to moment. For this, you need to use the combat tracker. To make use of the combat tracker you simply need to select an actor in a scene, right click them and click the sword and shield icon. This places them into a new encounter, and sets you up to begin tracking combat.</p>
<p>Once you have all your combatants in the encounter, you can click the d20 icon next to their name in the combat tracker to roll their initiative, and then click the begin combat button to start tracking rounds and turns.</p>
<p>For more on combat encounters, refer to the article on @Article[combat].</p>
<h3>Learning More</h3>
<p>Now that you've completed the getting started guide, you should understand the basics of setting up game worlds, players, actors, and scenes. But there's plenty more to learn about Foundry VTT! This article has several links to other articles in the knowledge base which explain concepts in greater detail, which could be good places to start reading.</p>
<p>There is also a fantastic community made Foundry VTT Tutorial video series from Encounter Library which can be found here: <a href="https://www.youtube.com/watch?v=-aHlApa1nUA" target="_blank" rel="nofollow noopener">Encounter Library Foundry Basics Part 1</a></p>
<p>You can also join the <a href="https://discord.gg/foundryvtt">Foundry Community Discord server</a> to interact with fellow gamemasters and players, learn about Foundry, what it can do, and what resources are available for you to play with as a new user.</p>
<h4>Conclusion of Part 2</h4>
<p><strong>This concludes part two of the Getting Started Tutorial!</strong></p>
<ul>
    <li>Return to @Article[tutorial] part one.</li>
    <li>Refer your players to the @Article[player-orientation].</li>
</ul>